.login {
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}

.register {
  background-image: linear-gradient(
    to right bottom,
    #3078e2,
    #2868d0,
    #2059bf,
    #164aad,
    #0b3c9c
  );
}

.form {
  display: flex;
  flex-direction: column;
  // background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);

  max-width: 520px;
  width: 100%;
  margin: 0 auto;

  border-radius: 5px;

  .title {
    margin-top: 15px;
    text-align: center;
  }

  .fields {
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
  }

  .profile_img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;

    input[type="file"] {
      display: none;
    }
    label {
      cursor: pointer;
    }
  }

  .form_link {
    border-bottom: 1px solid #75b9fc;
    margin-left: 6px;
    color: #75b9fc;
  }
}
