.form {
  display: flex;
  flex-direction: column;
  // background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  background-image: linear-gradient(
    to right bottom,
    #3078e2,
    #2868d0,
    #2059bf,
    #164aad,
    #0b3c9c
  );

  max-width: 40%;
  width: 100%;
  margin: 0 auto;

  border-radius: 5px;

  .title {
    margin-top: 15px;
    text-align: center;
  }

  .fields {
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
  }

  .profile_img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
    cursor: pointer;
  }
}
